@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: sans-serif;
}
.listProduct{
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
  gap: 16px;
}

.text_color{
  text-shadow: 2px 2px 2px #000000;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari y Opera */
}